:root {
    --primary-font: 'Noto Serif JP', serif;
    --secondary-font: 'Poppins', sans-serif;
    --primary-color: #FFEBEF;
}

h1 {
    font-family: var(--primary-font);
}

.homepage-img {
    border-radius: 8px;
    box-shadow: -.2em -.2em 10px rgb(0,0,0,.2), 5px 5px 10px rgb(0,0,0,.2);
    margin-top: 20px;
    
}

.homepage-info-div {
    background-color: rgb(208, 244, 255);
    box-shadow: 0 -3px 10px rgb(0,0,0,.2);
    max-width: 100%;
    padding: 45px 0;
    margin-top: 45px;

}

.homepage-text, .homepage-text-two {
    padding: 20px 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: -.2em -.2em 10px rgb(0,0,0,.1), 5px 5px 10px rgb(0,0,0,.1);
    margin-top: 20px;
}

.homepage-text-two h1 {
    font-size: 24px;
}

.connect-links, .connect-links:visited {
    color: rgb(0,0,0,.9);
}

.connect-links:hover {
    color: rgb(0,0,0,.6);
}

.instagram-icon {
 text-align: right;
}

.insta {
    padding: 24px;
    background-color: var(--primary-color);
    border-radius: 100px;
}

.facebook-icon {
    text-align: left;
}

.homepage-text p {
    font-family: var(--secondary-font);
}

.navbar-background {
    background-color: var(--primary-color);
    box-shadow: 0 3px 10px rgb(0,0,0,.2);
}

.nav-link {
    color: #353434 !important;
    opacity: .7;
    font-family: var(--secondary-font);
    font-size: 18px;
}

.logo-top {
    display: block;
    margin: 20px auto -30px;
    max-width: 60px;
}

.nav-link:visited {
    color: #353434 !important;
    opacity: .7;
}

@media (min-width: 679px) {
    .about-link {
    margin-left: 60px;
}

    .contact-link {
    margin-right: 60px;
}

    .nav-link {
    padding-top: 65px;
}

    .logo-top {
        display: none;
    }

}



@media (max-width: 680px) {
    .logo-link {
    display: none;
}

    .homepage-info-div {
    padding-left: 0;
    padding-top: 12px;
}

    .homepage-text-two {
    display: none;
}


    p {
    font-size: 8px;
}

    h1 {
    display: none;
}
    .nav-link {
    font-size: 11px;
}

}

@media (max-width: 312px) {
    .nav-link {
        padding: 8px 8px !important;
    }
}